<!doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="~/site.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  </head>

  
  <img src="~/img/logoNormal.png" alt="logo" class="ConfigLogo">

  <body class="ConfigurarJuego">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
       
<form action='@Url.Action("Comenzar")'>
        <section class="btn-group">
          <input name="username" type="text" placeholder="Ingrese su nombre"  data-bs-toggle="dropdown" aria-expanded="false" required>
        </section>


        <div class="opcionesDifCat">
          <main class="btn-goup">
          <select name="categoria" type="button" data-bs-toggle="dropdown" aria-expanded="false" required>
            <option>Seleccione Categoria</option>
           @foreach(Categoria c in ViewBag.Categorias){
            <option value="@c.IdCategoria">@c.Nombre</option>
           }
           <option value="-1">Todas</option>
          </select>
          </main>


          <main class="btn-goup">
            <select name="dificultad" type="button" data-bs-toggle="dropdown" aria-expanded="false" required>
            <option>Seleccione Dificultad</option>
           @foreach(Dificultad d in ViewBag.Dificultades){
            <option value="@d.IdDificultad">@d.Nombre</option>
           }
           <option value="-1">Todas</option>
          </select>
          </main>
          
        </div>

      <div class="bontonEmpezarJuego"> 
      <input type="submit" value="Empezar">
      </div> 
</form>

      <div class="imagenesEsquinas">
        <img class="imgCiencias" src="~/img/Ciencia.png">
        <img class="imgDeportes" src="~/img/Deportes.png">
        <img class="imgEntretenimiento" src="~/img/Entretenimiento.png">
        <img class="imgHistoria" src="~/img/Historia.png">
     </div>
      
  </body>
</html>