<!doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="style.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PreguntadORT</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  </head>

  <body class="juego">

    <div class="pregunta">
      <h1>@ViewBag.Preguntas.Enunciado</h1>
    </div>

  <div class="imgPregunta">
    <img src="@ViewBag.Preguntas.Foto">
</div>
<div class="opcionesRespuestas">
    <div class="respuestaArriba">
        <a class="izqArriba" href='@Url.Action("VerificarRespuesta", new {idPregunta = ViewBag.Preguntas.IdPregunta, idRespuesta = Juego._respuestas[0].IdRespuesta})'>@ViewBag.Respuestas[0].Contenido</a>
        <a class="derArriba" href='@Url.Action("VerificarRespuesta", new {idPregunta = ViewBag.Preguntas.IdPregunta, idRespuesta = Juego._respuestas[1].IdRespuesta})'>@ViewBag.Respuestas[1].Contenido</a>
    </div>
    
    <div class="respuestaAbajo">
        <a class="izqAbajo" href='@Url.Action("VerificarRespuesta", new {idPregunta = ViewBag.Preguntas.IdPregunta, idRespuesta = Juego._respuestas[2].IdRespuesta})'>@ViewBag.Respuestas[2].Contenido</a>
        <a class="derAbajo" href='@Url.Action("VerificarRespuesta", new {idPregunta = ViewBag.Preguntas.IdPregunta, idRespuesta = Juego._respuestas[3].IdRespuesta})'>@ViewBag.Respuestas[3].Contenido</a>
    </div>
</div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  </body>
</html>